# Copyright (c) Christopher Di Bella.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
#
Checks: 'bugprone-*,clang-analyzer-*,-clang-diagnostic-missing-prototypes,-clang-diagnostic-unused-command-line-argument,-cert-dcl21-cpp,-cert-dcl59-cpp,cppcoreguildelines-*,google-*,-google-build-namespaces,-google-build-using-namespace,-google-runtime-int,-google-runtime-references,misc-*,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*,-readability-function-size,-readability-named-parameter,-readability-uppercase-literal-suffix'
WarningsAsErrors: '*'
HeaderFilterRegex: 'cjdb/.*'

CheckOptions:
  - key: bugprone-assert-side-effect
    value: CJDB_ASSERT,CJDB_EXPECTS,CJDB_ENSURES
  - key: bugprone-dangling-handle.HandleClasses
    value: '::std::basic_string_view;::std::ranges::subrange;::std::ranges::all_view;::std::ranges::common_view;::std::ranges::keys_view;::std::ranges::values_view'
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: 'iter_move,iter_swap'
  - key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
    value: 1
  - key: bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value: '__builtin_memcmp,__builtin_strcasecmp,__builtin_strcmp,__builtin_strncasecmp,__builtin_strncmp,_mbscmp,_mbscmp_l,_mbsicmp,_mbsicmp_l,_mbsnbcmp,_mbsnbcmp_l,_mbsnbicmp,_mbsnbicmp_l,_mbsncmp,_mbsncmp_l,_mbsnicmp,_mbsnicmp_l,_memicmp,_memicmp_l,_stricmp,_stricmp_l,_strnicmp,_strnicmp_l,_wcsicmp,_wcsicmp_l,_wcsnicmp,_wcsnicmp_l,lstrcmp,lstrcmpi,memcmp,memicmp,strcasecmp,strcmp,strcmpi,stricmp,strncasecmp,strncmp,strnicmp,wcscasecmp,wcscmp,wcsicmp,wcsncmp,wcsnicmp,wmemcmp'
  - key: performance-faster-string-find.StringLikeClasses
    value: '::std::basic_string,::std::basic_string_view'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
  - key: readability-redundant-declaration.IgnoreMacros
    value: '0'
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn,
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment,
    value: '1'
  - key: readability-simplify-subscript-expr.Types
    value: '::std::basic_string;::std::basic_string_view;::std::vector;::std::array,::gsl::span'
